.getProductmain {
    display: flex;
}

.getProductContent {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.Product_tabel {
    width: 100%;
}

.ProductHeadContainer {
    background: white;
    position: sticky;
    padding: 27px 0px 1px 0px;
    top: 69px;
}

.Product_tabelHead {
    background-color: blue !important;
    margin-bottom: 10px;
}

.Product_tabelHead>p {
    font-size: 1.3em;
    color: white;
    font-weight: bold;
}

.Product_tabelFlex {
    justify-content: space-around;
    display: flex;
    box-sizing: border-box;
    padding: 0 15px;
    width: 100%;
    align-items: center;
    background: #00000008;
    border-radius: 7px;

}

.Product_tabelFlex2 {
    padding-top: 5px;
    border: 1px solid #00000029;
    padding-bottom: 5px;
    margin: 20px 0;
}

.Product_tabelFlex>p,
.Product_tabelFlex>div {
    width: 20%;
    text-align: center;
    padding: 7px 0;
    align-items: center;

    margin-right: 10px;
}

.Product_tabelFlex2>p {
    overflow-wrap: anywhere;
}

.Product_tabelFlex>p:first-child {
    text-align: justify !important;

}

.Product_tabelFlex>div:last-child,
.Product_tabelFlex>p:last-child {
    text-align: end !important;
    margin-right: 0 !important;

}

.Product_Sno {
    overflow-wrap: unset !important;
    width: 5% !important;
}

.Product_productId {
    width: 40% !important;
    /* color: black; */

}

.Product_productId>a {
    color: #551a8b;
    ;
}

.Product_productId>a:active {
    color: red;
}

.Product_stock {
    width: 10% !important;
    overflow-wrap: unset !important;
}


.updateIcon {
    color: green;
    /* margin-right: 15px; */
    cursor: pointer;
}

.updateIcon:active {
    color: red !important;
}

.updateIcon:hover {
    color: purple;
}

.deleteIcon {
    color: #b65c00;
    cursor: pointer;

}

.deleteIcon:hover {
    color: #d93e00;
    ;
}

.deleteIcon:active {
    color: blue;
}


/* loading  */


.deleteIconLoading {
    width: 22px;
    height: 22px;
    border-left: 2px solid blue;
}

.LaunchIcon {
    color: blue;
    cursor: pointer;
}

.LaunchIcon:active {
    color: #d93e00 !important;
}

.LaunchIcon:hover {
    color: blueviolet;
}


@media screen and (min-width:0px) and (max-width:1000px) {

    .getProductmain {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        min-height: 50vh;

    }

    .getProductContent {
        margin-top: 0;
        margin: auto !important;

        width: 100%;
        font-size: 13px;

    }

    .ProductHeadContainer {
        top: 70px;
        padding-top: 60px;

    }

    .Product_tabelFlex {
        padding: 0 7px;
    }

    .Product_tabelFlex2>p {
        font-weight: bolder;
        margin-right: 6px;
    }

    .actionChild svg {
        font-size: 21px;
    }


}

@media screen and (min-width:0px) and (max-width:600px) {

    .Product_tabelFlex {
        width: 600px;

    }

    .ProductHeadContainer {
        top: 0;
    }

    .getProductContent {
        overflow: auto;
    }
}