 .changepasswordContainer {
     padding: 25px 0;
     border-radius: 8px;
     width: 50vw;
     background-color: #efefef;
     position: relative;
     margin: auto;
     transition: all .50s linear;
 }


 .changepasswordform>div {
     display: flex;
     align-items: center;
     position: relative;
     width: 100%;
     margin: 20px 0;
 }

 .changepasswordheading {
     text-align: center;
     margin-bottom: 30px;
     font-size: 1.5em;
 }




 .changepasswordform>div>label {
     position: absolute;
     left: 16px;
     box-sizing: border-box;
     cursor: pointer;
 }

 .changepasswordform>div>input {
     width: 100%;
     font-size: 1.2em;
     padding: 10px 40px 10px 68px;
     outline: none;
     border-radius: 6px;
     border: 1px solid #526dfa5e;
 }





 .changepasswordform>button {
     background: #0029ffa8;
     padding: 10px 0;
     border-radius: 7px;
     font-size: 1.4em;
     color: white;
     cursor: pointer;
     border: none;
     transition: all .3s linear;
     box-sizing: border-box;
     width: 100%;
 }


 .changepasswordform>button:hover {
     background: #1d3fe8d5;
 }


 .changepasswordform>button:active {
     background: #002aff96;
 }





 .changepasswordform {
     width: 80%;
     margin: auto
 }


 .oldpassword_show-hidepassword,
 .changenewpassword_show-hidepassword,
 .changeconfrimpassword_show-hidepassword {
     position: absolute;
     right: 10px;
     cursor: pointer;
 }

 .changepasswordloading {
     width: 150px;
     height: 150px;
 }

 @media screen and (min-width:0px) and (max-width:1000px) {
     .changepasswordContainer {
         width: 80vw;
     }

     .changepasswordform {
         width: 90%;
     }
 }

 @media screen and (min-width:0px) and (max-width:600px) {
     .changepasswordContainer {
         font-size: 14px;
         margin-bottom: 30px;
         margin-top: 80px;
         width: auto;
         margin-left: 10px;
         margin-right: 10px;
         box-sizing: border-box;

     }

     .changepasswordform {
         width: 95%;
     }

     .changepasswordform>div>input {
         padding-left: 30px;
         padding-right: 32px;
     }

     .changepasswordform>div>label {
         left: 5px;
     }


     .changepasswordform>div>label>svg,
     .oldpassword_show-hidepassword>svg,
     .changenewpassword_show-hidepassword>svg,
     .changeconfrimpassword_show-hidepassword>svg {
         font-size: 20px;
     }

     .oldpassword_show-hidepassword,
     .changenewpassword_show-hidepassword,
     .changeconfrimpassword_show-hidepassword {
         right: 5px;
     }


     .changepasswordloading {
         width: 100px;
         height: 100px;
     }

 }

 @media screen and (min-width:0px) and (max-width:350px) {
     .changepasswordform>div>input::placeholder {
         font-size: .8em;

     }
 }