.ForgotpasswordMain {
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto
}


.ForgotPassword_SecondMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}



.forgotPasswodSendEmail,
.forgotPasswordotpverifyContainer,
.NewPassworContainer {
    padding: 25px 0;
    border-radius: 8px;
    width: 50vw;
    background-color: #efefef;
    position: relative;
    margin: auto;
    transition: all .50s linear;
    flex-shrink: 0;
}

.forgotpasswordform>div,
.forgotpasswordoptverifyform>div,
.NewPasswordform>div {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.forgotpasswordform>div>input,
.forgotpasswordoptverifyform>div>input,
.NewPasswordform>div>input {
    width: 100%;
    font-size: 1.2em;
    padding: 10px 8px 10px 68px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #526dfa5e;
}

.forgotpasswordform>div>label,
.forgotpasswordoptverifyform>div>label,
.NewPasswordform>div>label {
    position: absolute;
    left: 16px;
    box-sizing: border-box;
    cursor: pointer;
}


.confrimPassword_show-hidepassword,
.newPassword_show-hidepassword {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.sendotpagain {
    text-align: end;
    font-size: 1em;
    margin-top: 5px;
}


.forgotpasswordform>button,
.forgotpasswordoptverifyform>button,
.NewPasswordform>button {
    background: #0029ffa8;
    padding: 10px 0;
    border-radius: 7px;
    font-size: 1.4em;
    color: white;
    cursor: pointer;
    border: none;
    transition: all .3s linear;
    box-sizing: border-box;
    width: 100%;
}

.forgotpasswordform>button:hover,
.forgotpasswordoptverifyform>button:hover,
.NewPasswordform>button:hover {
    background: #1d3fe8d5;
}

.forgotpasswordform>button:active,
.forgotpasswordoptverifyform>button:active,
.NewPasswordform>button:active {
    background: #002aff96;
}

.forgotpasswordform,
.forgotpasswordoptverifyform,
.NewPasswordform {
    width: 80%;
    margin: auto
}

.forgot_password_heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.forgotpasswordotptext {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
}

.forgotpasswordresendotp {
    text-align: end;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

.forgotpasswordotptime {
    font-size: .9em;
}

#Newpassword,
#ConfrimPassword {

    padding-right: 40px;
}


.ForgotpasswordMain input::-webkit-outer-spin-button,
.ForgotpasswordMain input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.ForgotpasswordMain input[type=number] {
    --moz-appearance: none;
}

/* .loadingCss  */
.forgotpasswordloading {
    width: 130px;
    height: 130px;
}

@media screen and (min-width:0px) and (max-width:1000px) {

    .forgotPasswodSendEmail,
    .forgotPasswordotpverifyContainer,
    .NewPassworContainer {
        width: 80vw;
    }

    .forgotpasswordform,
    .forgotpasswordoptverifyform,
    .NewPasswordform {
        width: 92%;
    }

}

@media screen and (min-width:0px) and (max-width:600px) {

    .ForgotpasswordMain {
        padding-top: 20px;
        font-size: 13px;
        width: 100%;
        box-sizing: border-box;
        padding-right: 12px;
        padding-left: 12px;
    }

    .forgotPasswodSendEmail,
    .forgotPasswordotpverifyContainer,
    .NewPassworContainer {
        width: 100%;
    }


    .forgotpasswordform>div>label>svg,
    .forgotpasswordoptverifyform>div>label>svg,
    .NewPasswordform>div>label>svg,
    .confrimPassword_show-hidepassword>svg,
    .newPassword_show-hidepassword>svg {
        font-size: 20px;
    }


    .forgotpasswordform>div>label,
    .forgotpasswordoptverifyform>div>label,
    .NewPasswordform>div>label {
        left: 6px;
    }

    .forgotpasswordform>div>input,
    .forgotpasswordoptverifyform>div>input,
    .NewPasswordform>div>input {
        padding-left: 33px;
    }

    .forgotpasswordform,
    .forgotpasswordoptverifyform,
    .NewPasswordform {
        width: 95%;
    }

    #Newpassword,
    #ConfrimPassword {
        padding-right: 35px;
    }

    .forgotpasswordloading {
        width: 100px;
        height: 100px;
    }

}